<% layout('/layouts/boilerplate')%>
    <div class="card shadow mx-auto" style="width: 23rem; margin-bottom: 100px;">
        <img class="card-img-top"
            src="https://blog.butterfield.com/wp-content/uploads/2018/03/Rockies-Fall-960px-compressed.jpg"
            alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title text-center">New Campground</h5>
            <form action="/campgrounds" method="POST" novalidate class="validatedform" enctype="multipart/form-data">
                <div class="mb-3">
                    <label for="title" class="form-label">Title</label>
                    <input type="text" class='form-control' id="title" name="campground[title]" required>
                </div>
                <div class="custom-file">
                    <input type="file" class="custom-file-input" id="customFile" name="image" required multiple>
                    <label class="custom-file-label" for="customFile">Choose file</label>
                </div>
                <div class="mb-3">
                    <label for="location" class="form-label">location</label>
                    <input type="text" class='form-control' id="location" name="campground[location]" required>
                </div>
                <div class="mb-3">
                    <label for="description" class="form-label">description</label>
                    <textarea class='form-control' type='text' id="description" name="campground[description]"
                        required></textarea>
                </div>
                <div class="mb-3">
                    <label for="price" class="form-label">Price</label>
                    <div class="input-group">
                        <span class="input-group-text" id="basic-addon1">$</span>
                        <input type="text" class="form-control" id="price" name="campground[price]" placeholder="0.00"
                            aria-label="price" aria-describedby="campground price" required>
                    </div>
                </div>
                <div class="mb-3">
                    <button class="btn btn-success btn-block">Add campground</button>
                </div>
            </form>
        </div>
    </div>